@import "../tools/footer.css";
*{
    font-family: Vazir;
}



.pink-bar{
    background-color:#FF6B6B;
    height: 210px;
    position:relative;
    /*text-align: center;*/
}

.Toastify__toast--default {
    background: #FFE66D;

    color: #19535C;
    text-align: right;
    font-size: 14px;}

.logo{
    height: 150px;
    width: 16%;
    top: 120px !important;
    position: relative;
}

.body-default{
    background: #F7FFF7;
    position: relative;
    height: 100%;
    min-height: calc(100vh - 77px);
}

.login-box{
    background: white;
    text-align: center;
    margin-top: 150px;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px 10px 10px;
    padding-bottom: 5%;
    margin-bottom: 270px;
}

.login-bar{
    background-color:#FF6B6B;
    color: white;
    box-shadow: 0px 0px 5px rgb(179, 179, 179);
    border-color: rgb(143, 142, 142);
    border-radius: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    height: 50px;
    top: -25px;
    margin: auto 25%;
    font-weight: 500;
    font-size: 18px;
}

.login-field{
    margin-bottom: 7%;
    position: relative;
    background-color: rgb(228, 228, 228);
    border: 0.5px solid rgb(150, 150, 150);
    border-radius: 5px;
    text-align: right;
    padding-right: 5px;
    height: 70%;
    width: 70%;
}

.submit-button{
    margin-top: 5%;
    background-color: #4DCDC4;
    border:#19535C ;
    color: white;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    font-weight: 500;
    font-size: 1.2vw !important;
}

.google-signIn{
    margin-top: 5%;
}

.google-signIn button{
    background-color: #FFE66D !important;
    color: #757575 !important;
    text-align: center;
    width: 90% !important;
    border-radius: 5px;
    margin-left: 5%;
    font-weight: 500 !important;
    font-size: 1.2vw !important;
    margin-right: 5%;  
}

.google-signIn button div{
    background-color: #FFE66D !important;
}

.google-signIn button span{
    margin-left: 20%;
}